---
layout: base
title: Home
permalink: '/'
heading: Minimal Starter Kit for Bootstrap 5 using Eleventy
---

div>
  <nav class="navbar navbar-expand-lg navbar-dark px-0 py-3 position-absolute top-0 start-0 w-full bg-dark bg-lg-transparent">
    <div class="container-xl max-w-screen-xl">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-10" alt="...">
      </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <ul class="navbar-nav mx-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <!-- Right navigation -->
        <div class="navbar-nav ms-lg-4">
          <a class="nav-item nav-link" href="#">Sign in</a>
        </div>
        <!-- Action -->
        <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
          <a href="#" class="btn btn-sm btn-neutral w-full w-lg-auto">
            Register
          </a>
        </div>
      </div>
    </div>
  </nav>
  <section class="position-relative pt-48 pb-40 bg-dark bg-cover bg-size--cover" style="background-image:url(https://images.unsplash.com/photo-1549082984-1323b94df9a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
    <!-- Overlay -->
    <span class="position-absolute top-0 start-0 w-full h-full bg-dark opacity-80"></span>
    <!-- Content -->
    <div class="container-lg max-w-screen-xl position-relative overlap-10 text-center text-lg-start pt-5 pb-5 pt-lg-6">
      <div class="row row-grid align-items-center">
        <div class="col-lg-8 text-center text-lg-start">
          <!-- Title -->
          <h1 class="ls-tight font-bolder display-5 text-white mb-5">
            We built incredible web products for designers & developers
          </h1>
          <!-- Text -->
          <p class="lead text-white text-opacity-75 mb-10 w-lg-2/3">
            For over 5 years, we pride ourselves on our commitment to excellence, as well as our ability to deliver for our customers.
          </p>
          <!-- Buttons -->
          <div class="mt-10 mx-n2">
            <a href="#" class="btn btn-lg btn-primary shadow-sm mx-2 px-lg-8">
              Get started
            </a>
            <a href="#" class="btn btn-lg btn-neutral mx-2 px-lg-8">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
      <div class="container-xl max-w-screen-xl">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="https://preview.webpixels.io/web/img/logos/clever-dark.svg" class="h-10" alt="...">
        </a>
        <!-- Navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- Nav -->
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
          <!-- Right navigation -->
          <div class="navbar-nav ms-lg-4">
            <a class="nav-item nav-link" href="#">Sign in</a>
          </div>
          <!-- Action -->
          <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
            <a href="#" class="btn btn-sm btn-neutral w-full w-lg-auto">
              Register
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="py-24">
      <div class="container max-w-screen-xl">
        <div class="row align-items-center">
          <div class="col-12 col-lg-5 mb-10 mb-lg-0">
            <!-- Emoji -->
            <div class="display-4 mb-5 mt-n16">🚀</div>
            <!-- Heading -->
            <h1 class="ls-tight font-bolder display-3 mb-5">
              Build fast.<br>Deliver faster.
            </h1>
            <!-- Text -->
            <p class="lead mb-10">
              With an intuitive markup, powerful and lightning fast build tools, Clever has everything you need to turn your ideas into incredible products.
            </p>
            <!-- Buttons -->
            <div class="mx-n2">
              <a href="#" class="btn btn-lg btn-dark shadow-sm mx-2 px-lg-8">
                Get started
              </a>
              <a href="#" class="btn btn-lg btn-neutral mx-2 px-lg-8">
                Learn more
              </a>
            </div>
          </div>
          <div class="col-12 col-lg-6 ms-lg-auto">
            <div class="w-xl-12/10 position-relative">
              <!-- Decorations -->
              <span class="d-none d-lg-block position-absolute top-0 start-0 transform translate-x-n32 translate-y-n16 w-2/3 h-2/3 bg-warning opacity-20 rounded-circle filter blur-50"></span>
              <span class="d-none d-xl-block position-absolute bottom-0 end-0 transform translate-x-16 translate-y-16 w-32 h-32 bg-warning opacity-60 rounded-circle filter blur-50"></span>
              <!-- Image -->
              <img alt="..." src="https://images.unsplash.com/photo-1543269664-76bc3997d9ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&h=900&q=80" class="shadow-4 rounded-4 position-relative overlap-10" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    Anton
</div>
<div class="container bg-gray-200 p-5">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>



<div class="container-xxl">
    <div class="col-md-9 px-3 mx-auto">
        <div class="text-center mt-20 mb-12">
            <h1 class="display-3 ls-tight">
                <span class="d-inline-flex text-transparent bg-clip-text gradient-bottom-right start-purple-500 end-indigo-400 position-relative">Hello Bootstrap</span> Starter Kit
            </h1>
            <p class="text-lg font-semibold mt-5 px-lg-32">
                Well this is interesting. Minimal starter template for websites using Bootstrap 5 and Webpixels CSS next to the Eleventy static site generator.
            </p>
            <div class="mx-sm-n2 mt-7">
                <a href="https://github.com/webpixels/bootstrap-starter-kit" class="btn btn-dark" target="_blank">
                    <i class="bi bi-github me-2"></i>
                    <span>See on Github</span>
                </a>
            </div>
        </div>
        <div class="row g-6 g-lg-6">
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Eleventy
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                A simpler static site generator that transforms a directory of templates into HTML.
                            </p>
                            <footer>
                                <a href="https://www.11ty.dev/docs/" class="font-semibold link-primary stretched-link">Documentation -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Bootstrap 5
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                The world’s most popular framework for building responsive, mobile-first sites.
                            </p>
                            <footer>
                                <a href="https://getbootstrap.com/docs/" class="font-semibold link-primary stretched-link">Documentation -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Webpixels CSS
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                Utility and component-centric design system based on Bootstrap 5.
                            </p>
                            <footer>
                                <a href="https://webpixels.io/docs/css/" class="font-semibold link-primary stretched-link">Documentation -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Webpixels Components
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                Explore over 500 fully responsive and carefully designed Bootstrap components.
                            </p>
                            <footer>
                                <a href="https://webpixels.io/components/" class="font-semibold link-primary stretched-link">Start Using -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-muted text-sm font-semibold text-center my-12">
            Made with <i class="bi bi-heart mx-1"></i> by <a href="https://webpixels.io/">Webpixels</a>
        </p>
    </div>
</div>
